@import url('variables.css');
@import url('header.css');
@import url('main.css');
@import url('feed.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-main);
  line-height: 1.5;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.layout__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: var(--radius-sm);
  padding: 10px 20px;
  transition: var(--transition);
}

.btn--primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn--primary:hover {
  background-color: #3b6ae0;
}

.btn--secondary {
  background-color: var(--primary-light);
  color: var(--primary-color);
}

.btn--secondary:hover {
  background-color: #e0e6fc;
}

/* Sidebar */

.sidebar {
  width: 80px;
  flex-shrink: 0;
  background-color: #fff;
  border-right: 1px solid var(--border-color);
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
}

.sidebar__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
}

/* Стили для квадратика-кнопки */
.sidebar__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: var(--radius-sm);
  transition: var(--transition);
}

.sidebar__link:hover,
.sidebar__link--active {
  background-color: var(--primary-light);
}

.sidebar__icon {
  width: 24px;
  height: 24px;
  background-color: var(--text-muted);
  transition: var(--transition);
}

.sidebar__icon--profile {
  -webkit-mask: url('../assets/profile.svg') no-repeat center / contain;
  mask: url('../assets/profile.svg') no-repeat center / contain;
}

.sidebar__icon--chats {
  -webkit-mask: url('../assets/chats.svg') no-repeat center / contain;
  mask: url('../assets/chats.svg') no-repeat center / contain;
}

.sidebar__icon--settings {
  -webkit-mask: url('../assets/settings.svg') no-repeat center / contain;
  mask: url('../assets/settings.svg') no-repeat center / contain;
}

.sidebar__icon--home {
  -webkit-mask: url('../assets/home.svg') no-repeat center / contain;
  mask: url('../assets/home.svg') no-repeat center / contain;
}
.sidebar__link:hover .sidebar__icon,
.sidebar__link--active .sidebar__icon {
  background-color: var(--primary-color);
}
