.desktop-view {
  background-color: #ededed;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 1042px;
  position: relative;
}

.desktop-view .frame {
  position: absolute;
  top: 86px;
  left: 348px;
  width: 761px;
  height: 1443px;
}

.desktop-view .post {
  position: absolute;
  top: 742px;
  left: 32px;
  width: 700px;
  height: 662px;
}

.desktop-view .rectangle {
  position: absolute;
  top: 1px;
  left: 0;
  width: 700px;
  height: 611px;
  background-color: var(--white);
  border-radius: 20px;
}

.desktop-view .avatar {
  position: absolute;
  top: 16px;
  left: 19px;
  width: 37px;
  height: 37px;
  object-fit: cover;
}

.desktop-view .text-wrapper {
  position: absolute;
  top: 16px;
  left: 68px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: var(--dark-text);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-view .div {
  top: 16px;
  left: 158px;
  color: var(--primary-blue);
  position: absolute;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.desktop-view .p {
  top: 66px;
  left: 19px;
  width: 672px;
  color: var(--dark-text);
  position: absolute;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.desktop-view .text-wrapper-2 {
  position: absolute;
  top: 39px;
  left: 68px;
  font-family: var(--body-small-font-family);
  font-weight: var(--body-small-font-weight);
  color: var(--dark-text);
  font-size: var(--body-small-font-size);
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  font-style: var(--body-small-font-style);
}

.desktop-view .frame-2 {
  display: flex;
  width: 700px;
  align-items: center;
  justify-content: center;
  gap: 202px;
  padding: 16px 336px;
  position: absolute;
  top: 562px;
  left: 0;
}

.desktop-view .heart {
  position: relative;
  width: 20px;
  height: 18px;
  margin-left: -216.12px;
}

.desktop-view .message {
  position: relative;
  width: 18px;
  height: 18.46px;
}

.desktop-view .share {
  position: relative;
  width: 18.23px;
  height: 16.83px;
  margin-right: -216.12px;
}

.desktop-view .post-2 {
  position: absolute;
  top: 93px;
  left: 31px;
  width: 700px;
  height: 662px;
}

.desktop-view .rectangle-2 {
  height: 636px;
  position: absolute;
  top: 1px;
  left: 0;
  width: 700px;
  background-color: var(--white);
  border-radius: 20px;
}

.desktop-view .text-wrapper-3 {
  top: 16px;
  left: 233px;
  color: var(--light-text);
  position: absolute;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.desktop-view .p-s-aviasales {
  position: absolute;
  top: 66px;
  left: 19px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-view .span {
  color: #2c3e50;
  font-family: var(--body-large-font-family);
  font-style: var(--body-large-font-style);
  font-weight: var(--body-large-font-weight);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-size: var(--body-large-font-size);
}

.desktop-view .text-wrapper-4 {
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #3498db;
}

.desktop-view .IMG {
  position: absolute;
  top: 145px;
  left: 0;
  width: 700px;
  height: 442px;
  aspect-ratio: 1.58;
}

.desktop-view .frame-3 {
  display: flex;
  width: 700px;
  align-items: center;
  justify-content: center;
  gap: 202px;
  padding: 16px 336px;
  position: absolute;
  top: 587px;
  left: 0;
}

.desktop-view .status {
  position: absolute;
  top: 15px;
  left: 31px;
  width: 700px;
  height: 66px;
  overflow: hidden;
}

.desktop-view .rectangle-3 {
  height: 66px;
  position: absolute;
  top: 1px;
  left: 0;
  width: 700px;
  background-color: var(--white);
  border-radius: 20px;
}

.desktop-view .video {
  position: absolute;
  top: 18px;
  left: 609px;
  width: 32px;
  height: 32px;
}

.desktop-view .vector {
  position: absolute;
  width: 62.50%;
  height: 66.67%;
  top: 16.67%;
  left: 8.33%;
}

.desktop-view .img {
  position: absolute;
  width: 20.83%;
  height: 45.83%;
  top: 27.08%;
  left: 70.83%;
}

.desktop-view .vector-2 {
  position: absolute;
  width: 12.50%;
  height: 12.50%;
  top: 33.33%;
  left: 41.67%;
}

.desktop-view .rectangle-4 {
  position: absolute;
  top: 16px;
  left: 69px;
  width: 532px;
  height: 37px;
  background-color: #ededed;
  border-radius: 100px;
}

.desktop-view .text-wrapper-5 {
  position: absolute;
  top: 24px;
  left: 86px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: var(--dark-text);
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.desktop-view .vector-3 {
  position: absolute;
  width: 3.43%;
  height: 31.82%;
  top: 36.36%;
  left: 93.14%;
}

.desktop-view .IMG-2 {
  position: absolute;
  top: 950px;
  left: 380px;
  width: 700px;
  height: 442px;
  aspect-ratio: 1.58;
}

.desktop-view .tool-bar {
  position: fixed;
  top: 0;
  left: -1896px;
  width: 3340px;
  height: 4051px;
}

.desktop-view .tool-bar-2 {
  position: absolute;
  top: 0;
  left: 1896px;
  width: 1440px;
  height: 83px;
  background-color: var(--dark-text);
}

.desktop-view .menu-icons {
  position: absolute;
  top: 1px;
  left: calc(50.00% + 702px);
  width: 488px;
  height: 82px;
}

.desktop-view .avatar-2 {
  position: absolute;
  top: 13px;
  left: 3262px;
  width: 59px;
  height: 59px;
  object-fit: cover;
}

.desktop-view .valera-malaychuk {
  position: absolute;
  top: 28px;
  left: 3051px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--heading-2-font-family);
  font-weight: var(--heading-2-font-weight);
  color: transparent;
  font-size: var(--heading-2-font-size);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  font-style: var(--heading-2-font-style);
}

.desktop-view .text-wrapper-6 {
  color: #61c5c6;
  font-family: var(--heading-2-font-family);
  font-style: var(--heading-2-font-style);
  font-weight: var(--heading-2-font-weight);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  font-size: var(--heading-2-font-size);
}

.desktop-view .text-wrapper-7 {
  color: #000000;
  font-family: var(--heading-2-font-family);
  font-style: var(--heading-2-font-style);
  font-weight: var(--heading-2-font-weight);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  font-size: var(--heading-2-font-size);
}

.desktop-view .text-wrapper-8 {
  color: #ffffff;
  font-family: var(--heading-2-font-family);
  font-style: var(--heading-2-font-style);
  font-weight: var(--heading-2-font-weight);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  font-size: var(--heading-2-font-size);
}

.desktop-view .social-sphere {
  position: absolute;
  top: 20px;
  left: 1924px;
  width: 201px;
  font-family: var(--heading-1-font-family);
  font-weight: var(--heading-1-font-weight);
  color: transparent;
  font-size: var(--heading-1-font-size);
  letter-spacing: var(--heading-1-letter-spacing);
  line-height: var(--heading-1-line-height);
  font-style: var(--heading-1-font-style);
}

.desktop-view .text-wrapper-9 {
  color: #3498db;
  font-family: var(--heading-1-font-family);
  font-style: var(--heading-1-font-style);
  font-weight: var(--heading-1-font-weight);
  letter-spacing: var(--heading-1-letter-spacing);
  line-height: var(--heading-1-line-height);
  font-size: var(--heading-1-font-size);
}

.desktop-view .text-wrapper-10 {
  color: #61c5c6;
  font-family: var(--heading-1-font-family);
  font-style: var(--heading-1-font-style);
  font-weight: var(--heading-1-font-weight);
  letter-spacing: var(--heading-1-letter-spacing);
  line-height: var(--heading-1-line-height);
  font-size: var(--heading-1-font-size);
}

.desktop-view .image {
  position: absolute;
  top: 3027px;
  left: 0;
  width: 1024px;
  height: 1024px;
  aspect-ratio: 1;
  object-fit: cover;
}
